services:
  nebula:
    container_name: nebula
    image: nebulaoss/nebula
    mem_limit: 60m
    network_mode: host
    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    volumes:
      - ./config:/config
    restart: unless-stopped
