[entrypoints.web]
  address= ":80"
  [entryPoints.web.forwardedHeaders]
    trustedIPs = ["127.0.0.1/32", "192.168.0.0/16", "172.16.0.0/12", "10.0.0.0/8"]

[entrypoints.websecure]
  address= ":443"
  [entryPoints.websecure.forwardedHeaders]
    trustedIPs = ["127.0.0.1/32", "192.168.0.0/16", "172.16.0.0/12", "10.0.0.0/8"]

[api]
  dashboard=true

[log]
  level="INFO"

[accessLog]
    format = "json"
    filePath="/logs/access_log.json"
    [accessLog.fields.names]
      "ClientUsername" = "drop"
      "RouterName" = "keep"
      "ServiceName" = "keep"
      "RequestAddr" = "keep"

    [accessLog.fields.headers]
      defaultMode = "keep"

      [accessLog.fields.headers.names]
        "User-Agent" = "keep"
        "Authorization" = "drop"
        "Content-Type" = "keep"

[providers.docker]
  exposedByDefault=false
  network="traefik-proxy"

[providers.file]
  directory = "./confs.d"
